.adventures__wrapper {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin: 2em 10em;
    padding: 1em;
}

.adventure-card {
    display: flex;
    flex-direction: row;

    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);

    padding: 1em;

    width: 100%;
    min-height: 50vh;

    margin-bottom: 4em;
}

.adventure-card__description {
    display: flex;
    flex-direction: column;

    flex-basis: 65%;

    justify-content: space-between;

    padding: 1em 2em;
}

.adventure-card__text {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
}

.adventure-card__text h1 {
    font-size: 3em;
}

.adventure-card__description h2 {
    font-size: 1.5em;
    color: #485563;
}

.adventure-card__stats {
    flex-basis: 20%;
    justify-self: end;

    display: flex;

    flex-direction: row;
    justify-content: space-around;
}

.adventure-card__stat {
    flex-basis: 25%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid #29323c;

    cursor: default;
}

.adventure-card__stat h2 {
    margin-bottom: 0;
    font-size: 2em;

    color: #29323c;
}

.adventure-card__stat h3 {
    margin: 0;
    font-size: 1.5em;

    color: #485563;
}

.adventure-card__button__wrapper {
    display: flex;

    flex-direction: column;

    align-items: flex-end;
    justify-content: flex-end;
}

.adventure-card__flags {
    flex-basis: 5%;

    width: 100%;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

.adventure-card__flags .fib {
    width: 80%;
    height: 4vh;

    margin: 1em 2em;
}

.adventure-card__button-wrapper {
    flex-basis: 10%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.adventure-card__button {
    width: 50%;
    height: 80%;

    background-color: #29323c;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease-in-out;

    color: whitesmoke;
    font-size: 1.5em;

    cursor: pointer;
}

.adventure-card__button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.adventure-card__map {
    flex-basis: 30%;
}

.loading-map {
    width: 50%;
    height: 50%;

    margin-top: 25%;
    margin-left: 25%;
}

.google-map {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);

    transition: 0.35s ease-in-out;
}

.google-map:hover {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}


